{{! make the _globals object in course.json available to this template}}
{{import_globals}}

<div class="resources__inner">
  {{a11y_aria_label _globals._extensions._resources.resources}}

  <div class="resources__filter has-{{return_column_layout_from_collection_length resources '_type'}}-columns">
    <div class="resources__filter-inner">

    {{! If the resources collection contains only one type of resource (pdf, media or link) don't show anything}}
    {{#if_collection_contains_only_one_item resources '_type'}}

    {{else}}
      <button class="resources__filter-btn resources__show-all is-selected js-resources-filter-btn-click" data-filter="all" aria-label="{{model._filterAria.allAria}}">
        <span>{{model._filterButtons.all}}</span>
      </button>

      {{#if_collection_contains resources '_type' 'document'}}
      <button class="resources__filter-btn resources__show-document js-resources-filter-btn-click" data-filter="document" aria-label="{{model._filterAria.documentAria}}">
        <span>{{model._filterButtons.document}}</span>
      </button>
      {{/if_collection_contains}}

      {{#if_collection_contains resources '_type' 'media'}}
      <button class="resources__filter-btn resources__show-media js-resources-filter-btn-click" data-filter="media" aria-label="{{model._filterAria.mediaAria}}">
        <span>{{model._filterButtons.media}}</span>
      </button>
      {{/if_collection_contains}}

      {{#if_collection_contains resources '_type' 'link'}}
      <button class="resources__filter-btn resources__show-link js-resources-filter-btn-click" data-filter="link" aria-label="{{model._filterAria.linkAria}}">
        <span>{{model._filterButtons.link}}</span>
      </button>
      {{/if_collection_contains}}

      {{/if_collection_contains_only_one_item}}

    </div>
  </div>

  <div class="resources__item-container" role="list">
    <div class="resources__item-container-inner">

      {{#each resources}}
      <div class="resources__item drawer__item is-{{_type}} js-resources-item" role="listitem">
        <div class="resources__item-inner drawer__item-inner">

          <button role="link" class="resources__item-open drawer__item-open js-resources-item-btn-click"
            data-type="{{_type}}"
            data-filename="{{filename}}"
            data-href="{{_link}}"
            data-force-download="{{_forceDownload}}"
            aria-label="{{{title}}}. {{lookup ../model._filterButtons _type}}.{{#if description}} {{{description}}}.{{/if}}">

            {{#if title}}
            <div class="resources__item-title drawer__item-title">
              <div class="resources__item-title-inner drawer__item-title-inner">
                {{{title}}}
              </div>
            </div>
            {{/if}}

            {{#if description}}
            <div class="resources__item-body drawer__item-body">
              <div class="resources__item-body-inner drawer__item-body-inner">
                {{{description}}}
              </div>
            </div>
            {{/if}}

          </button>

        </div>
      </div>
      {{/each}}

    </div>
  </div>

</div>
